buy-item {
  ion-row {
    display: flex;
    align-items: center;
  }
  ion-col[col-8] > div
  {
    margin-left:10px;
  }
  .col {
    .tag {
      @include linear-gradient(right, $ibiza-sunset);
      display: inline-block;
      color: #fff;
      padding: 3px 10px;
      border-radius: 3px;
    }
    .title {
      height:5.4rem;
      overflow: hidden;
      font-weight: bold;
      font-size:1.6rem;
      line-height: 1.8rem;
      margin-top:10px;
    }
    .row3 {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    .price {
      b {
        color: color($colors, primary, base);
        font-size: 2.5rem;
      }
      i {
        text-decoration: line-through;
      }
    }
  }
}
