
ion-list-header {
  position: relative;
}
.slideImg {
  padding:0; margin:0;
  width:100%;
}
.list-item-title {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #fff;
  font-weight: bold;
  font-size: 1.7em;
  z-index: 9999;
  text-shadow: 2px 3px 2px #000;
}
page-home {
  ion-toolbar {
    display: flex;
    justify-content:  space-between;
  }
  ion-thumbnail {
    min-height: 70px;
    min-width: 70px;
  }
  .thumbImg {
    width: 70px;
    height: 70px;
  }
  .item-ios ion-thumbnail ion-img,
  .item-ios ion-thumbnail img {
    width: 70px;
    height: 70px;
  }
  .count0 {
    line-height: 2em;
  }
  .item-ios.item-block .item-inner {
    padding-right: 0px;
  }
  .item-md.item-block .item-inner {
    padding-right: 0px;
  }
  .label-ios {
    margin: 5px 0px 5px 0;
  }
  .label-md {
    margin: 5px 0px 5px 0;
  }
}

.item_buttons {
  padding: 0 8px;
}

.item-ios,.item-md {
  padding-left: 0;
}

ion-fab[left] {
  left: 0;
}

.btnSideCate
{
  padding:0;font-size:.9em;color:#333;height:4em;font-weight:bold;
  //background-color: #bbb;
}
ion-col[col-2]
{
  //background-color:#bbb;
   border-right: .5px solid #c8c7cc;
}
