<!--
  Generated template for the PayPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">返回</button>
    </ion-buttons>
    <ion-title>付款页面</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-list radio-group [(ngModel)]="selectAddress">
    <ion-list-header style="font-size:1.2em;">
      收货地址
      <button ion-button clear item-end (click)="editAddress()" *ngIf="addressList.length==0">编辑</button>
      <button ion-button clear item-end (click)="editAddress()" *ngIf="addressList.length>0">选择其它地址</button>
    </ion-list-header>
    <ion-item>
      <ion-label>
        <h2 style="padding-top:5px;">金城店自提</h2>
      </ion-label>
      <ion-radio value="1"></ion-radio>
    </ion-item>
    <ng-container *ngFor="let address of addressList ">
      <ion-item>
        <ion-label>
          <p>{{address.RealName}} {{address.Phone}}</p>
          <p> {{address.LocationLable}}</p>
        </ion-label>
        <ion-radio [value]="address"></ion-radio>
      </ion-item>
    </ng-container>
  </ion-list>

  <ion-list radio-group [(ngModel)]="payType">
    <ion-list-header style="font-size:1.2em;">
      <ion-icon name="finger-print" style="font-size:2em;"></ion-icon>
      付款方式
    </ion-list-header>
    <ion-item>
      <ion-label>
        <ion-icon name='card'></ion-icon>
        会员卡
        <span *ngIf="appService._wxUser.ShopMember.Balance>=appService.totalPriceVip"></span> [余额:￥{{appService._wxUser.ShopMember.Balance.toFixed(2)}}]
        <span *ngIf="appService._wxUser.ShopMember.Balance<appService.totalPriceVip">[余额不足,请充值]</span>
      </ion-label>
      <ion-radio value="card" [disabled]="appService._wxUser.ShopMember.Balance<appService.totalPriceVip"></ion-radio>
    </ion-item>
    <ion-item color="clear">
      <ion-label>
        <ion-icon name='speedometer'></ion-icon>
        货到付款
      </ion-label>
      <ion-radio value="later"></ion-radio>
    </ion-item>
    <ion-item color="clear">
      <ion-label>
        <ion-icon name='basket'></ion-icon>
        自提
      </ion-label>
      <ion-radio value="self"></ion-radio>
    </ion-item>
  </ion-list>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>备注:</ion-label>
          <ion-input type="text" [(ngModel)]="_comment" required name="comment"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button (click)="payOfftest()" block [disabled]="!payType || !selectAddress">确认订单</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <h2>{{this.appService._store.Notice}}</h2>
    </ion-row>
    <ion-row>
      <ion-col>
        商品名
      </ion-col>
      <ion-col *ngIf="payType!='card'">
        价格/单位
      </ion-col>
      <ion-col *ngIf="payType=='card'">
        会员价/单位
      </ion-col>
      <ion-col>
        数量
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let m of appService.cartItems">
      <ion-col>
        {{m.Name}}
      </ion-col>
      <ion-col *ngIf="payType!='card'">
        ￥{{m.Price}} / {{m.Unit}}
      </ion-col>
      <ion-col *ngIf="payType=='card'">
        ￥{{m.PriceVip}} / {{m.Unit}}
      </ion-col>
      <ion-col>
        {{m.Count}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h3>
          合计:￥{{appService.totalPrice.toFixed(2)}}
        </h3>
      </ion-col>
      <ion-col>
        <span *ngIf="payType=='card'">
        <h3 color="secondary">会员价:{{appService.totalPriceVip.toFixed(2)}}</h3>
    </span>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col>
        <button ion-button (click)="payOff()" block>确认订单</button>
      </ion-col>
    </ion-row>
     -->
    <ion-row style="margin-top:20px;">
      <ion-col>
        <button ion-button block (click)="recharge()" color="secondary">会员卡充值</button>
      </ion-col>
      <ion-col>
        <button ion-button (click)="init()" outline block color="secondary">充值完成刷新</button>
      </ion-col>
    </ion-row>

  </ion-grid>
  <ion-fab left bottom>
    <button ion-fab mini color="secondary"><ion-icon name="add"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab (click)="toKeFu()"><ion-icon name="contact"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
