page-detail {
  .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets
  {
    bottom:4.5rem;
  }
  ion-slides {
    height: 320px;
    .swiper-slide img {
      height: 320px;
    }
  }
  #topContent {
    position: relative;

    #title {
      position: absolute;
      bottom: 0;
      margin: 0;
      font-size: 1.4em;
      background: #000;
      opacity: .6;
      z-index: 99999;
      display: flex;
      align-items: center;
      justify-content: center;
      width:100%;
      height: 4rem;
      span {
        font-size:2.1rem;
        padding:0 0 0 10px;
        color:#fff;
        opacity: 1;
        text-shadow: 1px 1px 1px color($colors, customBlue, base);        
      }
    }
  }
  #desc {
    margin: 10px;
  }
  #toolbar {
    display: flex;
    align-items: center;
    #price {
      float: left;
      margin: 0;
      padding: 0 10px 0 20px;
      width: 49%;
      font-weight: bold;
      text-align: left;
      p {
        margin: 0;
        padding: 0 0 0 10px;
      }
      .nomal {
        color: color($colors, danger, base);
        font-size: 2.2rem;
      }
      .vip {
        font-size:  1.6rem;
      }
    }
    #cartBox {
      width: 50%;
      float: right;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .btn {
        background-color: color($colors, primary, base);
        color: color($colors, light, base);
        font-weight: bold;
        height:5rem;
      }
    }
  }
}
