// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.fab {
  contain: initial;
}

//防止挡住进入商铺图标
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
  top:10px;
  bottom: auto;
}

// Mixin itself
@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

.clear {
  @include clearfix();
}

.cr {
  color: color($colors, primary, base);
}

.alert-sub-title {
  img {
    margin: 10px auto;
  }
}

.detail_content {
  padding: 5px;
}

.detail_content p,
.detail_content p {
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

.ion-page>ion-content {
  background-color: #EBEBEB;
}

ion-header .toolbar-background {
  @include linear-gradient(left, $ibiza-sunset);
}

ion-header .back-button {
  color: #fff;
}

ion-slides#detail_Slide {
  height: 30vh;
  ion-slide img {
    min-height: 30vh;
    width: 100vw;
  }
}
