<ion-content>
  <ion-fab top right *ngIf="_buyItem &&_buyItem.Haibao&&_buyItem.Haibao.length">
    <img src="/assets/imgs/haibaoBtn.png" (click)="haibao()" style="width:50px;" />
  </ion-fab>
  <ion-slides id="detail_Slide" *ngIf="_buyItem" autoplay="3000" [loop]="_buyItem.LogoList.length>1" [pager]="_buyItem.LogoList.length>1"
    centeredSlides>
    <ion-slide *ngFor="let x of _buyItem.LogoList">
      <img [src]="x+'!w500'" *ngIf="x" />
    </ion-slide>
  </ion-slides>
  <div style="position: relative;width:100vw;height:50px;background:#fff;display: flex;justify-content: center; text-align: center">
    <div *ngIf="_buyItem&&_buyItem.Shop as shop" class="shopLogo">
      <img src="{{shop.LogoImageUrl}}!w100h100" (click)="goShop(shop)" />
    </div>
  </div>
  <ion-card *ngIf="_buyItem" id="itemTitle">
    <h1 class="title">{{_buyItem.Name}}</h1>
    <div class="desc_title">
      <div class="leftBox">
        <div style="float:left">
          <p class="oldPrice">原价￥{{_buyItem.Price}}</p>
          <p *ngIf="_buyItem.Count>0">还剩
            <b class="price">{{_buyItem.Count}}</b>件
          </p>
          <p *ngIf="_buyItem.Count==0">
            <b class="price">售完</b>
          </p>
        </div>
      </div>
      <h1 class="price" style="font-size:2.8rem;">￥{{_buyItem.VipPrice}}</h1>
      <div class="rightBox">
        <ng-container *ngIf="state===0">
          <p>活动开始时间</p>
          <p>{{_buyItem.DateTimeStart |moment:'MM月DD日 HH:mm'}}</p>
        </ng-container>
        <ng-container *ngIf="state===1">
          <p>距结束还剩</p>
          <p>{{_buyItem.DateTimeEnd | fromNow}}</p>
        </ng-container>
        <ng-container *ngIf="state===-11">
          <p>已结束</p>
        </ng-container>
      </div>
    </div>
  </ion-card>
  <div *ngIf="_buyItem" style="background:#fff;margin-top:-12px;margin-bottom:12px;padding:10px 20px;">
    <div style="display: flex;justify-content: center;margin:10px 0;">
      <img src="/assets/imgs/noticeTop.png" />
    </div>
    <div style="text-align: center;font-size:1.8rem;margin-bottom:20px;"> {{_buyItem.NoticeText}}</div>
  </div>
  <ion-list style="margin-bottom:5px;">
    <ion-item *ngIf="initData.store">
      <ion-avatar item-start>
        <img src="{{initData.store.LogoUrl}}!w100">
      </ion-avatar>
      <h2>{{initData.store.StoreName}}</h2>
      <p>{{initData.store.Description}}</p>
      <button ion-button clear item-end clear round outline (click)="guanzhu()">+关注</button>
    </ion-item>
  </ion-list>
  <ion-card *ngIf="_buyItem">
    <div style="display: flex;justify-content: center;margin:20px 0;">
      <img src="/assets/imgs/detailTop.png" style="width:50%;height:50%;" />
    </div>
    <div class="detail_content" [innerHtml]="_buyItem.Desc | safeHtml"></div>
  </ion-card>
  <div style="height:40px;"> </div>
</ion-content>
<ion-footer>
  <ion-toolbar *ngIf="_buyItem">
    <ion-row>
      <ion-col col-2>
        <button ion-button icon-only clear (click)="back()">
          <ion-icon name="home"></ion-icon>
        </button>
      </ion-col>
      <!-- <ion-col col-4>
        <div class="btnGroup" *ngIf="_buyItem.Count!=0&&_buyItem.LimitBuyCount>1">
          <button ion-button icon-only small clear color="primary" *ngIf="_count>=2" (click)="remove(m)">
            <ion-icon name="remove"></ion-icon>
          </button>
          <button ion-button disabled class="item_buttons" clear color="danger">{{_count}}</button>
          <button ion-button icon-only small clear color="primary" (click)="add(m)">
            <ion-icon name="add"></ion-icon>
          </button>
        </div>
      </ion-col> -->
      <ion-col col-8>
        <button ion-button block (click)="freeGet()" color="primary" *ngIf="_buyItem.Count!==0">免费领取</button>
        <button ion-button block color="disable" *ngIf="_buyItem.Count===0">活动已结束</button>
      </ion-col>
      <ion-col col-2 style="text-align: right;">
        <button ion-button icon-only clear (click)="goOrder()">
          <ion-icon name="contact"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
<modal id="modalMain">
  <div class="modal">
    <div class="modal-body ">
      <h3>本活动需绑定手机号参与</h3>
      <ion-list>
        <ion-item>
          <ion-label floating>手机号</ion-label>
          <ion-input type="tel" [(ngModel)]="reg.Telphone"></ion-input>
          <button item-right ion-button color="secondary" [disabled]="verifyTel()" (click)="sendCode()">
            {{appService._sendCodeBtnText}}
          </button>
        </ion-item>
        <ion-item>
          <ion-label floating>验证码</ion-label>
          <ion-input type="number" [(ngModel)]="reg.Code"></ion-input>
        </ion-item>
        <ion-item>
          <button ion-button block (click)="checkCode()">提交</button>
        </ion-item>
      </ion-list>

      <div class="modal-close">
        X
      </div>
    </div>
  </div>
  <div class="modal-background"></div>
</modal>
<modal id="modalQR">
  <div class="modal">
    <div class="modal-body" *ngIf="initData.store && _buyItem">
      <img src="{{initData.store.QRLogoUrl}}!w500" />
      <h4>关注公众号接收订单通知</h4>
      <div class="modal-close">
        X
      </div>
    </div>
  </div>
  <div class="modal-background"></div>
</modal>
