page-mujuan {
    #itemTitle {
        @include linear-gradient(right, $ibiza-sunset);
        color: #fff;
        margin: 0 0 1.5rem 0;
        padding: 5px;
        width: 100vw;
        *{
            color:#fff;
        }
    }
    .title {
        margin: 5px 10px;
    }
    .detail_content {
        margin: 20px 5px;
    }
    .desc_title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        * {
            margin: 0;
            padding: 0;
        }
        .leftBox {
            display: flex;
            align-items: center;
        }
        h1 {
            float: left;
            font-weight: blod;
            margin: 0 10px 0 20px;
        }
        .oldPrice {
            text-decoration: line-through
        }
        .price {
            color: color($colors, danger, base)
        }
        .rightBox {
            justify-content: center;
            margin-right: 20px;
            text-align: center;
        }
    }
}