.shadowBox {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.1);
}

.segment-ios-secondary .segment-button.segment-activated {
  @include linear-gradient(bottom, $facebook-messenger);
}

page-home {
  b.h1 {
    font-weight: bold;
    font-size: 2.2rem;
    margin:0 11px ;
    width:calc(100% - 22px);
    padding:3px 10px;
    margin-bottom:-12px;
    @include linear-gradient(right, $ibiza-sunset);
    color:#fff;
    display: block;
    border-radius: 8px 8px 0 0 ;
  }
}
